body {
    font-family: cursive;
    background-color: #fff7ed;
    color: #92400e;
    font-size: 18px;
}

.menu {
    background-color:#fed7aa;
    text-align: center;
}

.menu p {
    color: #92400e;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}

.menu p:hover {
    color:yellow;
    background-color: #78350f;
}
h1 {
    color: #92400e;
    text-align: center;
    background-color: #fde68a;
    font-size: 32px;
}
h2 {
    color:#92400e ;
    font-size: 24px;
}

.section {
    background-color: white;
}

.service-item {
    color: black;
}

.service-item:hover {
    background-color: #78350f;
    color: yellow;
}
.footer {
    background-color:#78350f;
    text-align: center;
    font-size: 16px;
}

.footer p {
    margin: 4px 0;
    color: white;
}
p {
    color: black;
}
li{
    color: black;
}
img {
    text-align: center;
}